/***** Attachments *****/
/* Styles attachments inside posts, articles and comments */
.attachments {
  .attachment-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding: 15px 0;
    flex-wrap: wrap;

    @include desktop {
      padding: 15px 0 15px 20px;
    }

    &:last-child { 
      margin-bottom: 0;
      border-bottom: 0;
    }

    &::before {
      @extend .icon;
      color: $text_color;
      content: "\1F4CE";
      font-size: $font-size-base;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: none;
    }

    @include desktop {
      &::before {
        display: block;
      }
    }

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 20px;

      &::before {
        left: auto;
        right: 0;
      }
    }

    &__title {
      width: 100%;

      @include desktop {
        width: auto;
      }
    }

    &__meta {
      width: 100%;

      @include desktop {
        width: auto;
      }
    }
  }
}

.upload-dropzone span {
  color: $secondary-text-color;
}
