/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-start;
  }

  &-content {
    flex: 1;
  }
}

.section-tree {
  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet { flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
    flex: initial;

    &__title {
      margin-bottom: 10px;
  
      a {
        color: $text_color;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          color: $brand_color;
        }
      }
    }
  }

  .icon-lock::before {
    vertical-align: baseline;
  }

}

.article-list {
  &__item {
    border-bottom: 1px solid $border-color;
    font-size: $font-size-bigger;

    a { 
      color: $text_color;
      display: flex;
      align-items: center;
      padding: 15px 0;
      text-decoration: none;
      justify-content: space-between;

      &:hover {
        color: $brand_color;
      }
    }
  }

  &__all {
    display: block;
    padding: 15px 0;
    color: $text-color;
    font-weight: $font-weight-semibold;
    
    &:hover {
      text-decoration: none;
      color: $brand_color;
    }
  }
}

.icon-star::before {
  color: $brand_color;
  font-size: 18px;
}
