/***** Footer *****/
.footer {
  background-color: $border-color;
  padding: 30px 0;

  a { color: $text-color; }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
  }

  &-language-selector {
    color: $secondary-text-color;
    display: inline-block;
    font-weight: $font-weight-light;
  }
}
