/***** Header *****/
$header-height: 80px;

.header {
  @include max-width-container;
  position: relative;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__logo {

    img {
      width: 170px;
    }
  }

  &__nav {
    @include tablet {
      position: static;
      flex-wrap: nowrap;
      width: auto;
    }

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    width: 100%;

    &-item {
      @include tablet {
        width: auto;
      }
      width: 100%;
      margin: 0 16px;

      &:last-child {
        margin-right: 0;
      }

      * {
        color: $text-color;
        
        &:hover {
          text-decoration: none;
          color: $brand_color;
        }
      }
    }
  }
}
