/***** Search results *****/
.search-results {
  @include desktop {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  &-column {
    @include desktop {
      flex: 0 0 45%;
    }

    flex: 1;
  }

  &-list {
    margin-bottom: 25px;
    > li {
      border-bottom: 1px solid $border-color;
      padding: 20px 0;
      &:first-child {
        border-top: 1px solid $border-color;
      }
    }
  }

  &-sidebar {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 0;
      width: 250px;
      margin-right: 40px;
    }
  }

  &-main {
    flex-grow: 1;
  }
}

.search-result {
  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    font-weight: $font-weight-semibold;

    &:hover {
      text-decoration: none;
      color: $brand_color;
    }

    i {
      margin-left: 5px;
    }
  }

  &-description {
    margin-top: 15px;
  }

  &-votes,
  &-meta-count {
    color: $secondary-text-color;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    padding: 4px 5px;
    position: relative;
    display: flex;

    &::before {
      @extend .icon;
      color: $brand_color;
    }

    [dir="ltr"] & {
      margin-left: 5px;
      &::before {
        margin-right: 3px;
      }
    }

    [dir="rtl"] & {
      margin-right: 5px;
      &::before {
        margin-left: 3px;
      }
    }
  }

  &-meta-count::before {
    content: "\1F4AC";
  }

  .meta-group {
    align-items: center;

    li a,
    li a:visited {
      color: $secondary-text-color;

      &:hover {
        color: $brand_color;
      }
    }
  }

  &-breadcrumbs {
    margin: 0;

    li:last-child::after {
      content: "·";
      display: inline-block;
      margin: 0 5px;
    }
  }
}
