/***** Section pages *****/
.section {
  &-container {
    display: flex;
    justify-content: flex-start;
  }

  &-content {
    @include desktop {
      max-width: 45%;
    }

    max-width: none;
    width: 100%;
  }

  &-subscribe {
    .dropdown-toggle::after {
      display: none;
    }
  }
}
