.sub-nav {
  @include tablet {
    align-items: baseline;
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;

  .search {
    @include tablet {
      width: 34%;
    }
  }

  //Inner pages search field
  input[type="search"] {
    @include tablet {
      min-width: 343px;
    }

    &::after { font-size: $font-size-base; }
  }
}
