/***** Header *****/
$header-height: 80px;

.header {
  @include max-width-container;
  position: relative;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  align-items: center;

  &__logo {

    img {
      max-height: 40px;
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &-item {
      margin: 0 16px;

      &:last-child {
        margin-right: 0;
      }

      * {
        color: $text-color;
      }
    }
  }
}
